<button id="theme-toggle">Alternar Tema</button>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="width: 400px;">
  <canvas id="meuGrafico"></canvas>
</div>

<script>
// Usamos o 'fetch' para pegar os dados do arquivo PHP acima
fetch('dados_grafico.php')
  .then(response => response.json())
  .then(dadosDB => {
    const ctx = document.getElementById('meuGrafico').getContext('2d');
    
    new Chart(ctx, {
      type: 'pie', // Tipo: Pizza
      data: {
        labels: Object.keys(dadosDB), // Pega os nomes (Operando, Falha...)
        datasets: [{
          data: Object.values(dadosDB), // Pega os números (10, 2...)
          backgroundColor: ['#2ecc71', '#e74c3c', '#f1c40f']
        }]
      }
    });
  });
</script>

<script>
    const themeToggle = document.getElementById('theme-toggle');
    
    themeToggle.addEventListener('click', () => {
        document.body.classList.toggle('dark-mode');
    });
</script>